.#{$prefix}-depoimentos {
    @extend %paddingSections;
    background-color: cl(white);
}

.slick-depoimentos {   

    @include respond-to('sm'){
        margin-top: 40px;
    }
    
    .slick-slide {
        padding: rem(100) rem(15) rem(20);

        @include respond-to('sm'){
            padding: 0 rem(20) 0 rem(100);
        }
    }

    .slick-arrow {
        @include size(20px);

        &:before {
            height: 20px;
        }
    }
}

.#{$prefix}-depoimento {
    @extend .d-flex;
    @extend .align-items-center;

    @extend .flex-column;
    // resp
    @extend .flex-md-row;

    background: cl(main, secondary);
    padding: rem(8) rem(15);
    text-align: center;

    @include respond-to('sm'){
        text-align: initial;
    }

    @include e('figure'){
        @include size(120px);
        border-radius: 50%;
        overflow: hidden;
        flex: none;
        
        margin-top: -50px;
        margin-bottom: rem(15);

        @include respond-to('sm'){
            @include size(180px);
            margin: 0 rem(30) 0 -110px;
        }

        img {
            @include size(100%, auto);
        }
    }

    @include e('tit'){
        display: block;
        font: 700 rem(20) $font-secundaria;
        color: cl(white);
        margin-bottom: rem(15);
        text-transform: uppercase;
    }

    @include e('desc'){
        font: rem(14) $font-secundaria;
        color: cl(white);
        font-style: italic;        

        padding-bottom: rem(30);

        @include respond-to('sm'){
            font-size: rem(16);
            padding-right: rem(30);
            padding-bottom: 0;
        }
    }

    @include e('aspas'){
        width: 80px;
        display: none $i;

        @include respond-to('sm'){
            margin-top: 60px;
            display: block $i;
        }
    }
}