$topSize: $sizeDefault ;

.#{$prefix}-top {
    @extend %transitionAll;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: rem( $topSize );
    padding-bottom: rem( $topSize );

    color: cl(white);
    z-index: 9999;

    &.fixed {
        background-color: #002172;
        box-shadow: 0px -11px 13px 11px #002172;

        .#{$prefix}-logo {
            @include size(120px, 40px);
            
            @include respond-to('md'){
                @include size(185px, 60px);
            }
        }
    }

    @include e('flex'){
        @extend .d-flex;
        @extend .align-items-center;
        @extend .justify-content-between;        
    }

    @include m('logado'){
        position: static;
        padding: rem(40) 0;
        background: url('../img/internas/bg-topo-int.jpg') center no-repeat;
    }
}

.#{$prefix}-phone {
    @extend %fontDefault;
    color: cl(white);
    font-style: normal;

    p {
        @extend %fontDefault;
        color: cl(white);
        font-style: normal;
    }
}

.icon-whatsapp {
    @include size(16px);
    display: inline-block;
    background: url('../img/icon-whatsapp.png') no-repeat;
    margin-right: 10px;
}

.tit-pri {
    font: rem(32) $font-hsb;
    text-align: center;

    @include respond-to('sm'){
        font-size: rem(46);
    }

    &--red {
        color: cl(main, primary);
    }

    &--white {
        color: cl(white);
    }

    &--blue {
        color: cl(main, secondary);
    }
}