.#{$prefix}-marcas {
    padding: rem(15) 0;
    background-color: cl(main, primary);

    @include respond-to('sm'){
        padding: rem(30);
    }
}

.slick-marcas {

    .slick-slide {
        padding: rem(15);
    }
}

.#{$prefix}-marca {
    img {
        width: 100%;
        height: auto;
    }
}