.#{$prefix}-perguntas {
    @extend %paddingSections;
    background: cl(main, secondary) url('../img/bg-fac.jpg') no-repeat;
    background-size: 1947px 100%;
}

.box-perguntas {
    @extend .d-flex;
    @extend .flex-column;
    color: cl(white);

    @include respond-to('md'){
        margin-top: rem(60);
    }

    @include e('tit'){
        @extend .d-flex;
        @extend .flex-column;
        margin: rem(15) 0;

        @include respond-to('md'){
            margin: rem(30) 0;
        }

        &:before {
            content: '';
            @include size(26px);
            background: url('../img/start-red.png');
            background-size: cover;
            flex: none;
        }

        a {
            @extend %transitionAll;
            font: 700 rem(18) $font-secundaria;
            color: cl(white);            
            letter-spacing: 1px;

            @include respond-to('md'){
                font-size: rem(22);
            }

            &:hover {
                color: rgba( cl(white), .8);
            }
        }
    }

    @include e('desc'){
        font: 400 rem(16) $font-secundaria;
        line-height: 1.4;
    }
}