.#{$prefix}-planos {
    @extend %paddingSections;
    background-color: #eee;
}

.#{$prefix}-plano {
    $self: &;

    width: 100%;

    @include respond-to('xs'){
        max-width: 370px;
    }

    @include e('content'){
        @extend .d-flex;
        @extend .align-items-center;
        @extend .flex-column;
        padding: rem(30) rem(15);
        background-color: cl(main, secondary);

        @include respond-to('md'){
            padding: rem(60) rem(40);
        }
    }

    @include e('fig'){}
    @include e('img'){
        max-width: 100%;
        height: auto;
        transform: rotate(-10deg);
    }

    @include e('tit'){
        font-size: rem(32);
        font-family: $font-hsb;
        color: cl(white);
        text-transform: uppercase;

        margin: rem(30) 0;

        @include respond-to('md'){
            font-size: rem(40);
        }

        @include respond-to('sm'){
            font-size: rem(36);
        }
    }

    @include e('price'){
        padding: rem(15) 0;

        .#{$prefix}-btn {
            width: 100%;
        }
    }
    
    // modificadores
    @include m('red'){
        @include e('content', $self){
            background-color: cl(main, primary);
        }

        .#{$prefix}-btn {
            background-color: cl(main, secondary);
        }

        .#{$prefix}-list {
            height: initial;
        }

        .#{$prefix}-list__item {
            @include respond-to('sm'){
                font-size: rem(17);
            }

            @include respond-to('md'){
                font-size: rem(17);
            }

            &:before {
                background-image: url('../img/start-blue.png');
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {    
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: darken( cl(main, secondary), 5% ); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken( cl(main, secondary), 15% ); 
}

.#{$prefix}-list {
    display: block;
    width: 100%;
    font: rem(14) $font-secundaria;
    color: cl(white);

    height: 180px;
    overflow: hidden;

    &:hover {
        overflow: auto;
    }

    @include e('item'){
        @extend .d-flex;
        @extend .align-items-start;
        margin-bottom: rem(20);

        &:before {
            content: '';
            @include size(18px);
            flex: none ;
            background: url('../img/start-red.png');
            background-size: cover;
            margin-right: rem(15);            
        }
    }
}

// preco 
.#{$prefix}-price {
    @extend .d-flex;
    @extend .align-items-end;

    @extend .justify-content-center;
    @extend .justify-content-sm-center;

    
    font-family: $font-secundaria;
    font-weight: 600;
    color: cl(main, secondary);
    margin-bottom: rem(15);

    @include respond-to('md'){
        margin-bottom: 0;
    }

    @include e('cifra') {
        font-size: rem(19);
        margin-right: rem(5);
        text-transform: uppercase;
    }

    @include e('decimal') {
        font-size: rem(37);
        line-height: 1;
    }

    @include e('cents') {
        font-size: rem(18);
        align-self: flex-start;
    }

    @include e('mouth') {
        font-size: rem(19);
        font-weight: 400;
        text-transform: uppercase;
        margin-left: rem(5);
    }
}

.slick-planos {
    @include respond-to('sm'){
        margin-top: rem(30);        
    }

    .slick-track {
        display: flex;
        align-items: center;
    }

    .slick-slide {
        padding: 10px;

        @include respond-to('md'){
            padding: 20px;
        }
    }
}

.slick-arrow {
    @include size(30px);
    position: relative;
    border: 0;    
    text-indent: -99999px;
    cursor: pointer;
    background-color: transparent;


    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;

    &:before {
        @include size(100%, 30px);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-left: 3px solid #7b7b7b;
        border-bottom: 3px solid #7b7b7b;

        flex: none;        
    }
}

.slick-prev {
    left: -30px;

    &:before {
        transform: rotate(45deg);
        margin-left: 40%;
    }
}

.slick-next {
   right: -30px;

    &:before {
        transform: rotate(-135deg) translate(8px, -8px);        
    }
}

.slick-disabled {
    opacity: .7;
    cursor: default;
}