.#{$prefix}-slide {
    width: 100%;
    min-height: 560px;    
    overflow: hidden;
    
    background: cl(main, secondary) url('../img/bg-slide.jpg') no-repeat center;
    background-size: cover;
    
    @include respond-to('sm'){
        height: 100vh;
    }

    .container {
        height: 100%;
    }

    @include e('flex'){
        @extend .row;
        @extend .align-items-center;
        @extend .justify-content-between;

        height: 100%;        
        padding: rem(100) rem(15) rem(15);

        @include respond-to('sm'){
            padding: rem(80) 0 0;
        }
    }

    @include e('frase'){
        color: cl(white);
        text-align: center;
        padding: rem(30);

        @include respond-to('sm'){
            text-align: initial;
            padding: 0;
        }
        
    }

    @include e('frase-light'){
        font: 400 rem(22) $font-hsl;
        text-transform: uppercase;
        color: cl(white);
        letter-spacing: rem(2);

        @include respond-to('sm'){
            font-size: rem(25);
        }

        @include respond-to('md'){
            font-size: rem(45);
        }

        b {
            font-weight: 800;
            font-family: $font-secundaria;
            background-color: cl(main, primary);
        }
    }

    @include e('frase-big'){
        font-size: rem(45);
        font-family: $font-klb;
        line-height: 1;
        display: block;
        margin-bottom: rem(15);

        @include respond-to('sm'){
            font-size: rem(60);
        }

        @include respond-to('md'){
            font-size: rem(118);
        }
    }
}