section.ls-sections.destaque-logado
    .container
        div.row
            .col-sm-6   
                .box-destaque
                    h2.box-destaque__tit Próximos jogos
                    figure.box-destaque__figure.box-destaque__figure--red
                        img(src=require('../img/internas/thumb-proximo-jogo.jpg'), alt="")/
                    
                    a(href="#").box-destaque__link Mais informações

            .col-sm-6 
                .box-destaque
                    h2.box-destaque__tit Clube de experiências
                    figure.box-destaque__figure
                        img(src=require('../img/internas/thumb-club.jpg'), alt="")/
                    
                    a(href="#").box-destaque__link Mais informações