footer.ls-rodape
      div.container
            div.ls-rodape__row
                  strong.ls-logo

                  div.ls-ends
                        address.ls-end
                              p. 
                                    #[strong Fortaleza Esporte Clube. ] 
                                    Av. Senador Fernandes Távora, 200 - Pici #[br/]  
                                    CEP: 60.510-290 - Fortaleza - CE #[br/]
                                    Fone: (85) 3496-2846

                        address.ls-end
                              p.
                                    #[strong Loja Barão de Sturdart. ]
                                    Av. Barão de Sturdart, 2555 Loja 2 #[br/]
                                    CEP: 60.510-290 - Fortaleza - CE #[br/]
                                    Fone: (85) 3047-1918

                  ul.ls-midia
                        li.ls-midia__item
                              a(href="http://facebook.com").ls-midia__link.ls-midia__link--facebook facebook                        
                        li.ls-midia__item
                              a(href="http://twitter.com").ls-midia__link.ls-midia__link--twitter twitter
                        li.ls-midia__item
                              a(href="http://instagram.com").ls-midia__link.ls-midia__link--instagram instagram
                        li.ls-midia__item
                              a(href="http://youtube.com").ls-midia__link.ls-midia__link--youtube youtube
                                                                  

            div.ls-rodape__row.ls-rodape__row--center
                  a(href="mailto:contao@sociofec.com.br").ls-link-contato 
                        img(src=require('../img/icon-mensagem.png'), alt="")/ 
                        span contato@sociofec.com.br
                              