form.ls-slide__form.ls-form.col-md-5.col-lg-4
    strong.ls-form__tit Faça sua doação aqui

    div.ls-form__control
        input(name="nome" id="nome" placeholder="Nome completo").ls-form__input
        label(for="nome").ls-form__label Nome completo
                
    div.ls-form__control
        input(placeholder="E-mail" id="email" type="email" name="email").ls-form__input
        label(for="email").ls-form__label E-mail

    div.ls-form__control
        input(placeholder="CPF" id="cpf" name="cpf").ls-form__input
        label(for="cpf").ls-form__label CPF

    div.ls-form__colunas
        div.ls-form__control
            input(placeholder="Senha"  id="senha" type="password" name="senha").ls-form__input
            label(for="senha").ls-form__label Senha

        div.ls-form__control
            input(placeholder="Repetir senha"  id="senha2" type="password" name="senha2").ls-form__input
            label(for="senha2").ls-form__label Repetir senha
        
    button.ls-btn.ls-form__submit Assinar