extends layout-logado.pug

block content
  .container.page-colunas
    .row
      aside.aside-int.col-sm-3.col-md-2
        h3.tit-pri.tit-pri--blue Meu plano

        div.box-highlight
          b.box-highlight__subtit Plano atual
          strong.box-highlight__tit Leão de Aço

        nav.menu-lateral
          ul.list-menu
            li.list-menu__item
              a(href="#") Adesões

            li.list-menu__item
              a(href="#") Dependentes
            
            li.list-menu__item
              a(href="#") Produtos

            li.list-menu__item
              a(href="#") Pagamentos

      article.col-sm-9.col-md-10
        block colunaDireita