- 
    var menus = [
        { name: 'home', slug: 'home' }, 
        { name: 'planos', slug: 'planos' }, 
        { name: 'benefícios', slug: 'beneficios' }, 
        { name: 'dúvidas', slug: 'duvidas' }
    ];

ul.ls-menu
    each menu in menus
        li.ls-menu__item
            a( href='#'+ menu.slug ).ls-menu__link
                = menu.name