section.nav-logado
    div.container
        .row
            .col-sm-12.col-md-7
                .box-circle
                    figure.box-circle__figure
                        img(src=require('../img/internas/thumb-logado.jpg'), alt="")/                    
                    .box-circle__infos
                        h3.box-circle__tit Fala, Dudu Oliveira!
                        p.box-circle__subtit Você tem 1918 pontos

            .col-sm-12.col-md-5.d-flex.align-items.justify-content-center
                nav.menu-logado.d-flex.align-items.justify-content-start
                    ul.menu-icon
                        li.menu-icon__item
                            a(href="#")
                                div.menu-icon__box
                                    svg(viewBox="0 0 1442.4 1209.8")
                                        use(href="sprite.svg#ficha")
                                span cadastro

                        li.menu-icon__item
                            a(href="#")
                                div.menu-icon__box
                                    svg(viewBox="0 0 2046.9 2046.9")
                                        use(href="sprite.svg#plano")
                                span Meu plano

                        li.menu-icon__item
                            a(href="#")
                                div.menu-icon__box
                                    svg(viewBox="0 0 701.3 776.5")
                                        use(href="sprite.svg#config")
                                span Configurações
                        
                        li.menu-icon__item
                            a(href="#")
                                div.menu-icon__box
                                    svg(viewBox="0 0 873.2 888.2")
                                        use(href="sprite.svg#pontos")
                                span Pontos