section.slide
      div.container

        div.row.flex
          div.slide__frase
            h2 Seja socio
            strong #joguejunto
          
          form.slide__form.form
            strong Faça sua doação aqui
            input(placeholder="Nome completo")