section#home.ls-slide
      div.container

        div.ls-slide__flex
          div.ls-slide__frase.col-6
            h2.ls-slide__frase-light Seja socio
            strong.ls-slide__frase-big #joguejunto

            - var sociosNumber = '<b>19.702</b>';
            p.ls-slide__frase-light Hoje somos !{ sociosNumber } sócios
          
          include form-doacao.pug

