section.slide-logado    
    div.single-item
        img.d-block.w-100(src=require('../img/internas/slide/slide1.jpg'), alt='First slide')/
        img.d-block.w-100(src=require('../img/internas/slide/slide1.jpg'), alt='Second slide')/
        img.d-block.w-100(src=require('../img/internas/slide/slide1.jpg'), alt='Third slide')/
