header(data-scroll-header).ls-top
  div.container.ls-top__flex.hidden-md-down
    h1.ls-logo
      a(href="#") Sócios Torcedores
    
    address.ls-phone
      p 
        i.icon-whatsapp
        span (85) 99194.3513

    div.wrap-menu
      include menu.pug
      a(href="#").ls-btn Login
  
  div.container.ls-top__flex.ls-top__mobile.hidden-lg-up
    h1.ls-logo
      a(href="#") Sócios Torcedores
    
    a(href="#").btn-menu 
      span
      span
      span

    div.ls-menu-mobile
      address.ls-phone
        i.icon-whatsapp
        span (85) 99194.3513

      div.wrap-menu
        include menu.pug
        a(href="#").ls-btn Login