section#videos.ls-videos
    div.container
        div.ls-video
            a(href="#").ls-video__link
                figure.ls-video__figure
                    img(src=require('../img/thumb-video.jpg'), alt="")
                strong.ls-video__hastag #joguejunto 