section#videos.ls-videos
    div.container
        h2.tit-pri.tit-pri--red.hidden-sm-up Vídeo

        div.ls-video
            a(href="https://www.youtube.com/watch?v=yAIdWKr8cUk").ls-video__link.popup-youtube
                figure.ls-video__figure
                    img(src=require('../img/thumb-video.jpg'), alt="")
                strong.ls-video__hastag #joguejunto 