form.ls-form.ls-form--blue
    strong.ls-form__tit Cadastro complementar
    
    div.ls-form__colunas
        div.ls-form__control
            input(placeholder="Dependentes"  id="Dependentes" type="text" name="Dependentes").ls-form__input
            label(for="Dependentes").ls-form__label Dependentes

        div.ls-form__control
            input(placeholder="N° Dependentes"  id="N° Dependentes" type="number" name="N° Dependentes").ls-form__input
            label(for="N° Dependentes").ls-form__label N° Dependentes
    
    div.ls-form__colunas
        div.ls-form__control
            input(placeholder="Escolaridade"  id="escolaridade" type="text" name="escolaridade").ls-form__input
            label(for="escolaridade").ls-form__label Escolaridade

        div.ls-form__control
            input(placeholder="frequencia"  id="frequencia" type="text" name="frequencia").ls-form__input
            label(for="frequencia").ls-form__label Frequencia Estádio/Ano
    
    div.ls-form__colunas
        div.ls-form__control
            input(placeholder="Renda"  id="Renda" type="text" name="Renda").ls-form__input
            label(for="Renda").ls-form__label Renda Mensal

        div.ls-form__control
            input(placeholder="tamanho-camisa"  id="tamanho-camisa" type="text" name="tamanho-camisa").ls-form__input
            label(for="tamanho-camisa").ls-form__label Tamanho Camisa
    
    div.ls-form__colunas
        div.ls-form__control
            input(placeholder="tamanho-short"  id="tamanho-short" type="text" name="tamanho-short").ls-form__input
            label(for="tamanho-short").ls-form__label Tamanho Shorts

        div.ls-form__control
            input(placeholder="tamanho-calcado"  id="tamanho-calcado" type="text" name="tamanho-calcado").ls-form__input
            label(for="tamanho-calcado").ls-form__label Tamanho Calçado

    button.ls-btn.ls-form__submit Alterar dados