form.ls-form.ls-form--blue
    strong.ls-form__tit Editar Minha Conta

    div.ls-form__control
        input(placeholder="E-mail" id="email" type="email" name="email").ls-form__input
        label(for="email").ls-form__label E-mail

    div.ls-form__control
        input(placeholder="senha" id="senha" type="password" name="senha").ls-form__input
        label(for="senha").ls-form__label Senha

    div.ls-form__control
        input(placeholder="confirma-senha" id="confirma-senha" type="password" name="confirma-senha").ls-form__input
        label(for="confirma-senha").ls-form__label Confirmar Senha

    div.ls-form__control
        input(placeholder="senha-atual" id="senha-atual" type="password" name="senha-atual").ls-form__input
        label(for="senha-atual").ls-form__label Senha atual

    button.ls-btn.ls-form__submit Atualizar
    button.ls-btn.ls-btn--outline.ls-form__submit Cancelar conta