form.ls-form.ls-form--blue
    strong.ls-form__tit Endereço
    
    div.ls-form__colunas
        div.ls-form__control
            input(placeholder="CEP"  id="cep" type="text" name="cep").ls-form__input
            label(for="cep").ls-form__label CEP

        div.ls-form__control
            input(placeholder="Rua"  id="rua" type="text" name="rua").ls-form__input
            label(for="rua").ls-form__label Rua
    
    div.ls-form__colunas
        div.ls-form__control
            input(placeholder="Número"  id="numero" type="text" name="numero").ls-form__input
            label(for="numero").ls-form__label Número

        div.ls-form__control
            input(placeholder="complemento"  id="complemento" type="text" name="complemento").ls-form__input
            label(for="complemento").ls-form__label Complemento
    
    div.ls-form__colunas
        div.ls-form__control
            input(placeholder="Bairro"  id="bairro" type="text" name="bairro").ls-form__input
            label(for="bairro").ls-form__label Bairro

        div.ls-form__control
            input(placeholder="Cidade"  id="cidade" type="text" name="cidade").ls-form__input
            label(for="cidade").ls-form__label Cidade
    
    div.ls-form__colunas
        div.ls-form__control
            input(placeholder="Estado"  id="estado" type="text" name="estado").ls-form__input
            label(for="estado").ls-form__label Estado

        div.ls-form__control
            input(placeholder="Cidade"  id="cidade" type="text" name="cidade").ls-form__input
            label(for="cidade").ls-form__label Cidade

    button.ls-btn.ls-form__submit Alterar dados