/*------------------
|	BUTTONS
|------------------*/

.#{$prefix}-btn {

    $self: &;
    
    @extend %fontDefault;
	background: cl(main, primary);
	color: cl(white);
	display: inline-flex;
	align-items: center;
	justify-content: center;	
	letter-spacing: 1px;
	text-transform: uppercase;
    padding: rem(10) rem(28);
    cursor: pointer;

	&:hover {
		background: darken(cl(main, primary), 15%);
		transition: all 0.6s;
	}

    @include m('base'){
        position: absolute;
        bottom: 0;
        margin-bottom: -30px;
    }

    @include m('small'){
        width: 150px;
        padding: 10px;
    }

    @include m('med'){
		max-width: 220px;
        padding: 15px;
	}

    @include m('disabled'){
        background: mix(cl(gray), cl(white), 20%) $i;
        color: mix(cl(gray), cl(white), 50%) $i;
        pointer-events: none;
        cursor: default;
    }


    @include m('outline'){
        background-color: transparent;
        color: cl(main, primary);
        border: 2px solid cl(main, primary) $i;
        margin-top: rem(10);

        &:hover {
            background-color: cl(main, primary);
            color: cl(white);
        }
    }
}