//==========================================================================
// RESET / RESET GLOBAL DEFAULT
//==========================================================================

@charset "UTF-8";

*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

*{
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: 16px;
	min-width: 240px;
	font-family: $font-default;	
}


// Ul
ul {
	list-style-type: none;
	padding: 0;
}

// Link
a { 
	transition: all .2s ease-in-out;
	text-decoration: none; 
}

p {
	font-size: rem(16);
	font-family: $font-secundaria;
	color: #424242;
}