extends includes/layout-logado.pug

block content 
  .container.page-cadastro.col-12.col-sm-4
    include includes/forms/dados-cadastrais.pug
    include includes/forms/enderecos.pug
    include includes/forms/cadastro-complementar.pug