include includes/config.pug

doctype html
html(lang='pt-br')
  include includes/head.pug
  body
    include includes/topo.pug
    include includes/slide.pug
    include includes/vantagens.pug
    include includes/planos.pug
    include includes/descontos.pug
    include includes/perguntas.pug
    include includes/video.pug
    include includes/depoimentos.pug
    include includes/marcas.pug
    include includes/footer.pug
    
    

    