doctype html
html(lang='pt-br')
  include includes/head.pug
  body
    include includes/topo.pug
    include includes/slide.pug
    include includes/vantagens.pug

    section.ls-planos
      div.container
        h2.tit-pri.tit-pri--red Planos

    section.ls-descontos
      div.container
        h2.tit-pri.tit-pri--red Descontos exclusivos

    section.ls-perguntas
      div.container
        h2.tit-pri.tit-pri--white Perguntas e respostas

    section.ls-videos
      div.container
        p vou ser um vídeo
    
    section.ls-depoimentos
      div.container
        h2.tit-pri.tit-pri--red Depoimentos

    section.ls-marcas 
      div.container        

    include includes/footer.pug
    
    

    