doctype html
html(lang='pt-br')
  include includes/head.pug
  body
    include includes/topo.pug
    include includes/slide.pug
    
    section.icones
      p sections de icones

    section.planos
      h2.tit-pri.tit-pri--red Planos

    section.descontos
      h2.tit-pri.tit-pri--red Descontos exclusivos

    section.perguntas
      h2.tit-pri.tit-pri--white Perguntas e respostas

    section.videos
      p vou ser um vídeo
    
    section.depoimentos
      p Sou um depoimento

    section.marcas 
      p soum uma lista de marcas

    include includes/footer.pug
    
    

    